<div class="grid grid-cols-2 gap-4">
    <!-- Elemento de cuadrícula 1 -->
    <div class="bg-red-200 p-4">
      <p>Hero info</p>
    </div>
  
    <!-- Elemento de cuadrícula 2 -->
    <div class="bg-orange-200 p-4">
      <p>Boton de descarga</p>
    </div>
  
    <!-- Elemento de cuadrícula 3 -->
    <div class="bg-yellow-200 p-4">
      <app-grafica-activos></app-grafica-activos>
    </div>
  
    <!-- Elemento de cuadrícula 4 -->
    <div class="bg-green-200 p-4">
      <app-grafica-linear></app-grafica-linear>
    </div>
  
    <!-- Elemento de cuadrícula 5 -->
    <div class="bg-blue-200 p-4">
     <app-grafica-solvencia></app-grafica-solvencia>
    </div>
  
    <!-- Elemento de cuadrícula 6 -->
    <div class="bg-purple-200 p-4">
<app-grafica-rentabilidad></app-grafica-rentabilidad>
    </div>
  
    <!-- Elemento de cuadrícula 7 -->
    <div class="bg-pink-200 p-4">
        <app-grafica-liquidez></app-grafica-liquidez>
    </div>
  
   
  </div>
  